# This file should be renamed to .env and set with the correct properties
# Contact dev@reso.org with questions
# 
# Items are commented out, uncomment as needed

# TODO: Required for all DD-related features
# REFERENCE_METADATA_URL=<URL of metadata service>

# TODO: Needed to access services
# RESO_SERVICES_URL=<URL>

# TODO: Required to access Variations Service suggestions
# CERT_AUTH_API_BASE_URL=<URL>
# CERT_AUTH_API_USERNAME=<username>
# CURRENT_PROVIDER_UOI=<providerUoi>
# CERTIFICATION_API_KEY=<ApiKey>

# TODO: Required for the restore and sync options
# CERTIFICATION_API_KEY=<ApiKey>

# TODO: Required for runDDTests - also must have JDK 11 installed
# WEB_API_COMMANDER_PATH=<local path to Commander>

# TODO: URL for orgs and endorsements data 
# ORGS_DATA_URL=<orgs and endorsements URL>

# TODO: Required for testing and restoring
# SYSTEMS_DATA_URL=<URL of Systems Google Sheet>

# TODO: Required for restoring and backing up
# ENDORSEMENTS_PATH=<path to endorsements filter on Cert API>